$primary-color: #db34ca;
:root {
	--pulsargreystroke: rgba(172, 172, 172, 1);
	--darkbgd: rgba(4, 34, 53, 1);
	--darkmenu: rgba(8, 44, 67, 1);
	--darkboxcolor: rgba(12, 67, 93, 1);
	--darkiconstext: rgba(255, 255, 255, 1);
	--lightbgd: rgba(244, 247, 254, 1);
	--lightmenu: rgba(255, 255, 255, 1);
	--lighticonstexts: rgba(43, 54, 116, 1);
	--lightboxcolor: rgba(217, 217, 217, 1);
	--lightsecondarytext: rgba(121, 140, 243, 1);
	--variable-collection-gendbuntu-grey: rgba(27, 28, 30, 1);
	--variable-collection-hidden: rgba(187, 79, 19, 0);
	--variable-collection-visible: rgba(187, 79, 19, 1);
	--variable-collection-light-secondary-text: rgba(62, 71, 119, 1);
}
