@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  --pulsargreystroke: rgba(172, 172, 172, 1);
  --darkbgd: rgba(4, 34, 53, 1);
  --darkmenu: rgba(8, 44, 67, 1);
  --darkboxcolor: rgba(12, 67, 93, 1);
  --darkiconstext: rgba(255, 255, 255, 1);
  --lightbgd: rgba(244, 247, 254, 1);
  --lightmenu: rgba(255, 255, 255, 1);
  --lighticonstexts: rgba(43, 54, 116, 1);
  --lightboxcolor: rgba(217, 217, 217, 1);
  --lightsecondarytext: rgba(121, 140, 243, 1);
  --variable-collection-gendbuntu-grey: rgba(27, 28, 30, 1);
  --variable-collection-hidden: rgba(187, 79, 19, 0);
  --variable-collection-visible: rgba(187, 79, 19, 1);
  --variable-collection-light-secondary-text: rgba(62, 71, 119, 1);
}

.accueil-dark {
  background-color: #042235;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.accueil-dark .div {
  background-color: var(--darkbgd);
  width: 1920px;
  height: 2304px;
  position: relative;
}

.accueil-dark .overlap-group {
  position: absolute;
  width: 1920px;
  height: 1196px;
  top: 0;
  left: 0;
  background-image: url("views/src/images/Screenshot_4 1.png");
  background-size: cover;
  background-position: 50% 50%;
}

.accueil-dark .content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 164px;
  left: 452px;
}

.accueil-dark .bienvenue-sur-le {
  position: relative;
  width: 1016px;
  margin-top: -1px;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.72px;
  line-height: 39px;
}

.accueil-dark .text-wrapper {
  font-weight: 700;
  letter-spacing: -0.26px;
}

.accueil-dark .span {
  font-family: "DM Sans-Regular", Helvetica;
  letter-spacing: -0.26px;
}

.accueil-dark .arrow-up-circle {
  position: absolute;
  width: 96px;
  height: 96px;
  top: 997px;
  left: 921px;
}

.accueil-dark .footer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: absolute;
  top: 2270px;
  left: 565px;
  background-color: transparent;
}

.accueil-dark .text-wrapper-2 {
  position: relative;
  width: 70px;
  margin-top: -1px;
  font-family: "DM Sans-Medium", Helvetica;
  font-weight: 500;
  color: var(--darkiconstext);
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.28px;
  line-height: 24px;
}

.accueil-dark .element-get-your-path {
  position: relative;
  width: 314px;
  margin-top: -1px;
  font-family: "DM Sans-Italic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: var(--darkiconstext);
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.28px;
  line-height: 24px;
}

.accueil-dark .text-wrapper-3 {
  position: relative;
  width: 107px;
  margin-top: -1px;
  font-family: "DM Sans-Medium", Helvetica;
  font-weight: 500;
  color: var(--darkiconstext);
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.28px;
  line-height: 24px;
}

.accueil-dark .menu-bar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 15px 30px;
  position: fixed;
  top: 41px;
  left: 658px;
  background-color: var(--darkboxcolor);
  border-radius: 30px;
}

.accueil-dark .a-propos {
  width: 94px;
  position: relative;
  height: 30px;
}

.accueil-dark .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: 36px;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 700;
  color: var(--darkiconstext);
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 30px;
  white-space: nowrap;
}

.accueil-dark .img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  left: 0;
}

.accueil-dark .separator {
  position: relative;
  width: 1px;
  height: 30px;
  object-fit: cover;
}

.accueil-dark .a-propos-2 {
  width: 119px;
  position: relative;
  height: 30px;
}

.accueil-dark .a-propos-3 {
  position: absolute;
  top: 0;
  left: 36px;
  font-family: "DM Sans-Medium", Helvetica;
  font-weight: 500;
  color: var(--darkiconstext);
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 30px;
  white-space: nowrap;
}

.accueil-dark .l-asso {
  position: relative;
  width: 134px;
  height: 30px;
}

.accueil-dark .connexion {
  position: relative;
  width: 116px;
  height: 30px;
  margin-right: -2px;
}

/*# sourceMappingURL=main.css.map */
